## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-12-04 00:12:54.359783: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df['APPLICATION_TYPE'].value_counts()
application_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_count[application_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count_gt_1 = classification_count[classification_count>1]
classification_count_gt_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_count[classification_count < 250].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_features = len(X_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
    # units=n_features*2, 
    units=n_features*3,
    input_dim=n_features, 
    activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    # units=n_features,  
    units=n_features/2,
    activation = "relu"))

# Adding an additional (3rd) hidden layer
nn.add(tf.keras.layers.Dense(
    units=n_features, 
    activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(
    units=1, 
    activation="sigmoid"))
                             

# Check the structure of the model
nn.summary()

2023-12-04 00:13:10.090605: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 135)               6210

 dense_1 (Dense)             (None, 22)                2992

 dense_2 (Dense)             (None, 45)                1035

 dense_3 (Dense)             (None, 1)                 46

=================================================================
Total params: 10,283
Trainable params: 10,283
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss= "binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 10s 6ms/step - loss: 0.5690 - accuracy: 0.7211
Epoch 2/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5533 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5513 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5490 - accuracy: 0.7310
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5481 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5469 - accuracy: 0.7319
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5458 - accuracy: 0.7331
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5451 - accuracy: 0.7324
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5439 - accuracy: 0.7342
Epoch 11/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5438 - accuracy: 0.7331
Epoch 12/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5429 - accuracy: 0.7349
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5422 - accuracy: 0.7345
Epoch 15/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5421 - accuracy: 0.7358
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5417 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5412 - accuracy: 0.7355
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5413 - accuracy: 0.7358
Epoch 19/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 20/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5402 - accuracy: 0.7355
Epoch 21/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 22/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5400 - accuracy: 0.7364
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5400 - accuracy: 0.7372
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5391 - accuracy: 0.7357
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5384 - accuracy: 0.7358
Epoch 27/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5390 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5382 - accuracy: 0.7364
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5382 - accuracy: 0.7362
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7375
Epoch 34/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5372 - accuracy: 0.7382
Epoch 35/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 36/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5376 - accuracy: 0.7376
Epoch 37/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5376 - accuracy: 0.7377
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5370 - accuracy: 0.7369
Epoch 39/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5371 - accuracy: 0.7372
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5370 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5366 - accuracy: 0.7385
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5367 - accuracy: 0.7379
Epoch 44/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5357 - accuracy: 0.7385
Epoch 47/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5361 - accuracy: 0.7374
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5365 - accuracy: 0.7379
Epoch 49/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5356 - accuracy: 0.7381
Epoch 50/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5358 - accuracy: 0.7383
Epoch 51/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5358 - accuracy: 0.7383
Epoch 52/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5364 - accuracy: 0.7384
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5352 - accuracy: 0.7389
Epoch 54/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5361 - accuracy: 0.7377
Epoch 55/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5353 - accuracy: 0.7385
Epoch 56/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 57/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 58/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5348 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5353 - accuracy: 0.7391
Epoch 60/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5351 - accuracy: 0.7385
Epoch 61/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5349 - accuracy: 0.7399
Epoch 62/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 63/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5346 - accuracy: 0.7386
Epoch 64/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5343 - accuracy: 0.7393
Epoch 66/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 67/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5343 - accuracy: 0.7395
Epoch 68/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5347 - accuracy: 0.7386
Epoch 69/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 70/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5343 - accuracy: 0.7395
Epoch 71/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5343 - accuracy: 0.7386
Epoch 72/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5341 - accuracy: 0.7382
Epoch 73/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5340 - accuracy: 0.7393
Epoch 74/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5339 - accuracy: 0.7401
Epoch 76/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 78/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5336 - accuracy: 0.7395
Epoch 79/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 80/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5337 - accuracy: 0.7387
Epoch 81/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 82/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 83/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5339 - accuracy: 0.7391
Epoch 84/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5335 - accuracy: 0.7393
Epoch 85/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5335 - accuracy: 0.7392
Epoch 86/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5333 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5331 - accuracy: 0.7404
Epoch 88/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5330 - accuracy: 0.7402
Epoch 89/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5330 - accuracy: 0.7393
Epoch 90/100
804/804 [==============================] - 7s 9ms/step - loss: 0.5328 - accuracy: 0.7413
Epoch 91/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5331 - accuracy: 0.7400
Epoch 92/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5329 - accuracy: 0.7399
Epoch 93/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 94/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5325 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5329 - accuracy: 0.7403
Epoch 97/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5322 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 6s 8ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 100/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5322 - accuracy: 0.7405

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5656 - accuracy: 0.7278 - 2s/epoch - 7ms/step
Loss: 0.5656354427337646, Accuracy: 0.7278134226799011

In [16]:
# Export our model to HDF5 file
nn.save('./HDF5-Output-Files/AlphabetSoupCharity_Optimized_2.h5')